HabitatOrganismSize.aux
HabitatOrganismSize.pdf
HabitatOrganismSize.b*
HabitatOrganismSize.dvi
HabitatOrganismSize.log
data/second_experiment_blocks.csv
data/.gsf*
*~
/figures/*.svg
/figures/*.pdf
MS/figure/
MS/figure/
MS/flatworm.md
MS/habitat_organism_size.pdf
MS/habitat_organism_size_MS.pdf
.Rproj.user
.Rhistory
*.Rhistory
*.sublime-*
MS/*.docx
MS/*.pdf
adonis.csv
adonis_summary.Rdata
reports/test.html
.remake/

reports/*.html
MS/*.html
MS/discussion
photos/misc/*
outline.md
*.log
xtable*

srivastava_bell*
morgue/*
