HabitatOrganismSize.aux
HabitatOrganismSize.pdf
HabitatOrganismSize.b*
HabitatOrganismSize.dvi
HabitatOrganismSize.log
data/.gsf*
*~
/figures
MS/figure/
MS/figure/
MS/flatworm.md
MS/habitat_organism_size.pdf
MS/habitat_organism_size_MS.pdf
.Rproj.user
.Rhistory
*.Rhistory
*.Rproj
*.sublime-*
MS/*.docx
MS/*.pdf
adonis.csv
adonis_summary.Rdata
reports/test.html
.remake/